@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
}
     
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}
        
input[type=number]{
    width: 40px;
} 

.price_header {
    background-color: darkgray;
}        
        
.dishname {
    text-align: left;
    font-weight: bold;
}
        
.cost {
   
    font-weight: bold;
    float: right;
}
        
.price {
    text-align: right;
    color: red;
}

.dishprice {
    float: right;
}
        
#total_price {
    text-align: right;
}

        hr {
    border-color: black;
}
.mydinner{
    font-size: 30px;
}
        
#dishprice {
    text-align: right;
    color: red;
    font-weight: bold;
}
        
.line {
    border-left: 1px solid black;
}
        
#backToEditDinner {
    float: right;
}   
        
#imgDishDetail {
    width: 100%;
}
        
#imgDinnerOverview {
    width: 100%;
}
         
#dishname {
     background-color: darkgray;
}
        
#costBanner {
    background-color: darkgray;
}
        
#totalPrice {
    color: red;
    font-weight: bold;
}

.dishname-header {
    text-transform: uppercase;
}

/* Center the loader */
#dishDetail {
    position: relative;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}